version: "3.8"

services:
  backend:
    image: mohdvahaz/ecommerce-plt:backend
    container_name: bun-backend
    ports:
      - "3001:3001"
    restart: unless-stopped
    networks:
      - app-network

  frontend:
    image: mohdvahaz/ecommerce-plt:frontend
    container_name: next-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped  # this will automatically restart  if the container is dropped  ok  
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
